version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "13:00"
      timezone: "Europe/Paris"
    target-branch: "dev"
    open-pull-requests-limit: 10
    ignore:
      update-types: ["version-update:semver-major"]